HYPEREVM_RPC_URL=https://rpc.hyperliquid-testnet.xyz/evm
HYPEREVM_CHAIN_ID=998
HYPEREVM_MAINNET_RPC_URL=https://rpc.hyperliquid.xyz/evm
HYPEREVM_MAINNET_CHAIN_ID=999
PRIVATE_KEY=
DEPLOY_MODE=mock
BOUNCE_LT_ADDRESS=
BOUNCE_USDC_ADDRESS=0xb88339CB7199b77E23DB6E890353E22632Ba630f
BACKEND_PORT=3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_CHAIN_ID=998
NEXT_PUBLIC_RPC_URL=https://rpc.hyperliquid-testnet.xyz/evm
BOUNCE_BASE_URL=https://indexing.bounce.tech
DEPLOYMENT_FILE=./deployments/hyperevm-testnet.json
KEEPER_PRIVATE_KEY=
KEEPER_POLL_MS=30000
INDEX_FROM_BLOCK=0
